.main-header {
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    color: var(--text-color);
    margin: 0 15px;
    font-weight: 500;
}

.header-actions {
    display: flex;
    align-items: center;    
}

.header-actions a, .header-actions .icon-button {
    margin-left: 20px;
    font-size: 1.2rem;
    color: var(--dark-color);
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.cart-preview { 
    position: absolute;
    top: 5%;
    right: 0;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    width: 350px;
    padding: 1rem;
    z-index: 1001;
}